# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# -------------------------
# Environment variables / secrets
# -------------------------
.env
config/.env

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store

# -------------------------
# IDE / Editor
# -------------------------
.vscode/

# -------------------------
# Raw data (Bronze inputs)
# -------------------------
bronze_inputs/*.csv
